@page "/component1"
@page "/component1/{Age:int}"

<h1>Component 1</h1>

<p>Current name: @Name</p>

<p>Current age: @Age</p>

<Component2 @ref="Comp2"></Component2>

<button class="btn btn-primary" @onclick="ChangeColor">Change color</button>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int Age { get; set; }

    private Component2 Comp2;

    private void ChangeColor()
    {
        Comp2.ChangeColor();
    }
}
