@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<CascadingValue Name="FavColor" Value="@("blue")">
    <Component1></Component1>
</CascadingValue>

<Counter SetCounter="@((val) => Console.WriteLine(val))"></Counter>

<a href="@($"/Component1/31")">
    Click me
</a>
